<ion-card>
  <ion-list>
    <ion-item *ngFor="let item of state.servicio">
      <ion-col size="6">
        <ion-card-content>
          <ion-label>Name: {{item.name}}</ion-label>
          <ion-label style="color: darkgrey">Phone: {{item.phone}}</ion-label>
        </ion-card-content>
      </ion-col>
     <ion-col size="6">
       <ion-card-header>
         <ion-card-subtitle style="color: lightgreen"> Email:{{item.email}}</ion-card-subtitle>
       </ion-card-header>
     </ion-col>
    </ion-item>
  </ion-list>
</ion-card>
